@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

img[src*="mars-2.jpg"] {
  display: none;
}

img[src*="mars-5.jpg"] {
  display: none;
}

@media only screen and (min-width: 25em) {

  body {
    margin: 0;
    padding: 0;
  }

  img[src*="mars-1.jpg"] {
    float: none;
    width: 100%;
  }

  img[src*="mars-2.jpg"] {
    float: left;
    width: 50%;
    display: block;
  }

  img[src*="mars-3.jpg"] {
    float: right;
    width: 50%;
  }

  img[src*="mars-4.jpg"] {
    float: left;
    width: 50%;
  }

  img[src*="mars-5.jpg"] {
    float: right;
    width: 50%;
    display: block;
  }
}

@media only screen and (min-width: 38em) {

  body {
    margin: 0;
    padding: 0;
  }

  img[src*="mars-1.jpg"] {
    float: none;
    width: 100%;
  }

  img[src*="mars-2.jpg"] {
    float: left;
    width: 33.3333%;
    display: block;
  }

  img[src*="mars-3.jpg"] {
    float: left;
    width: 33.3333%;
  }

  img[src*="mars-4.jpg"] {
    float: left;
    width: 33.333%;
  }

  img[src*="mars-5.jpg"] {
    display: none;
  }
}

@media only screen and (min-width: 60em) {

  body {
    margin: 0;
    padding: 0;
  }

  img[src*="mars-1.jpg"] {
    float: left;
    width: 66.6666%;
  }

  img[src*="mars-2.jpg"] {
    float: left;
    width: 33.3333%;
    display: block;
  }

  img[src*="mars-3.jpg"] {
    float: left;
    width: 33.3333%;
  }

  img[src*="mars-4.jpg"] {
    float: left;
    width: 33.3333%;
  }

  img[src*="mars-5.jpg"] {
    display: block;
    float: left;
    width: 33.3333%;
  }
}
